.bluegenesToolHomology {
  // put all your css classes inside this block. Keeping them
  // nested under the tool name prevents your styles from
  // leaking out and affecting other elements by accident.

  // If you want to learn more about LESS, visit lesscss.org.

  // Tips to ensure your tool works well in BlueGenes:
  // - Pretend that the browser window your tool runs in is the container provided by BlueGenes
  // - Use all the width you're given, but only the height you need (hardcoding to a specific height is fine)
  // - Avoid vw/vh values as these will work unexpectedly when your tool is used in BlueGenes
  // - Do not have a header for your tool; BlueGenes provides one above the container
  // - BlueGenes will ensure your tool is scrollable if it's larger than the container
  // - The space given by BlueGenes is precious; make your visualization occupy most of it and avoid having settings that occupy a large part of it
  // - Remember that loaders should only apply to your container, not fade out the whole window

  // this is just an example class for root div element, you may modify or delete it as per your usecase
  .rootContainer {
    padding: 10px;
    .homologyTable {
      width: 100%;
      border-spacing: 0;
      
      th {
        background-color: #EBEBEB;
        text-align: left;
        font-size: medium;
      }

      td {
        color: #333;
        font-size: medium;
      }

      tr.odd {
        background-color: #FAFAFA;
      }

      th.header {
        color: #000;
        font-weight: bold;
        font-size: larger;
      }

      td.noData {
        padding: 12px;
        color: #666;
        font-style: italic;
      }
  
    }

    .naviLink {
      color: #33C;
      text-decoration: none;
      cursor: pointer;
    }

    .naviLink:hover {
      color: #33C;
      text-decoration: underline;
      cursor: pointer;
    }

    .dataSource {
      padding: 0 3px; 
      font-weight: bold; 
      color: white; 
      margin-right: 3px;
      cursor: default;
    }

    .gene {
      background-color: #336699; 
    }

    .kegg {
      background-color: #A70158; 
    }
    
    .homolo {
      background-color: #669933; 
    }

    .footNote {
      margin: 12px;
    }

  }
}
